{% extends "layout.html" %}

{% block head %}

{% endblock %}


{% block content %}
<h1><b> Purpose</b></h1>
<div>
    <p> This site is to be used as a support for the Japanese B classes. The contents are broken up as below.</p>
    <ul>
       <li><b>The Language:</b> This page holds a discription of the language.</li>
        <li><b>Course Structure:</b> This page shows a basic layout of what we will cover over the 15 weeks.</li>
        <li><b>Resources:</b> This is a storage </li>
        <li><b>Test:</b> This will allow you to test yourself against the vocabulary for each week, or allow you to upload your own .csv files to create your own tests.</li>
        <li><b>Charts:</b> You will find the Hiragana and Katakana charts here.</li>
        <li><b>Kana Test:</b> works like test, but for Katakana. You should be able to select the line you want to test. Just like we do in class.</li>
        <li><b>Kanji Test:</b> as above, but for Kanji</li>
        <li><b>Links:</b> This page contains links to other sites</li>
    </ul>
</div>
{% endblock %}