<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
        <link href="styles.css" rel="stylesheet">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <title> Links </title>
    </head>
    <body>
        <center> <font size ="10" color="red">The Language </font> </center>

        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="Links.html">Links and Downloads</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="The_Language.html">The Language</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="course_structure.html">Course Structure</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Index</a>
                </li>
            </ul>
        </nav>

        <div class="left">
            <h2><b><a href="https://jisho.org/">Jisho</a> </b></h2>
            <p <b>This is a relatively user friendly Japanese/English online dictionary, which is also one of the few to allow students to search Japanese terms in Romaji. It doesn't match the ability of other on-line dictionaries that cater for translators. However, it is perfect for the beginner learner.</b></p>

            Amounst other things, this website supports:
            <ul>
                <li>Japanese -> Enlish lookup</li>
                <li>English -> Japanese lookup</li>
                <li>Kanji Lookup via radicals</li>
                <li>Kanji Lookup via kanji sketching</li>
                <li>Example Sentences</li>
            </ul>
            <h2><b><a href="https://quizlet.com/en-gb">Quizlet</a> </b></h2>
            <p <b>This is a free drilling website that allows users to create user defined flash card sets, which can then be shared public with others. This website also supports both android and iphone apps that also allow students to learn while out and about and on the move.</b></p>

            Amounst other things, this website supports:
            <ul>
                <li>JFlash card creation</li>
                <li>flash card drillingp</li>
                <li>the ability to search other user created flash card sets</li>
                <li>Games that drill the flash card pairs</li>
                <li>Audio support</li>
            </ul>

            <h3><b>Downloadable File</b></h3>
            <ul>
                <li><a href="lesson 1.7z">Lesson 1</a></li>
                <li><a href="lesson 2.7z">Lesson 2</a></li>
            </ul>
        </div>

    </body>
</html>
