
body{
  background-image: url('IMG_5994.JPG');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
/*background-color: "#fffdd0";*/
}

.centering {
  text-align: center;
}


.right {
  position:relative;
  right: 20px;
  width: auto;
  padding: 20px;
  background-color: grey;
}

.left {
  position:relative;
  left: 20px;
  width: auto;
  padding: 20px;
  background-color: LightGrey;
}

footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}